/* .home{
    display: flex;
    background-color: white;
    height: 100vh; */
    /* width: max-content; */
    /* margin: 10%;
    justify-content: center;
    align-items: center;
}

.driver{
    background-color: rgb(129, 88, 187);
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;

}

.student{
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
}

.admin{
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;

} */